.footer-container {
    background-image: url('../../assets/footerBackground.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    margin: 0;
}

.footer-content {
    color: white;
    width: 100%;
    position: relative;
}

.footer-row {
    max-width: 90%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    gap: 2rem;
}

.footer-col-1,
.footer-links-group {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex: 1 1 0;
}

.footer-logo {
    width: 300px;
    height: auto;
    flex-shrink: 0;
}

.footer-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
    font-size: 18px;
}

.footer-links-group {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    min-width: 120px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.footer-links a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.footer-copyright {
    font-size: 0.9rem;
    background: #D81921;
    width: 100%;
    text-align: center;
    padding: 2rem 1rem 1rem;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.contact-icon {
    font-size: 1.2rem;
    color: white;
    flex-shrink: 0;
}

@media (max-width: 900px) {
    .footer-row {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;
        margin-top: 3rem;
    }

    .footer-col-1,
    .footer-links-group {
        flex-direction: column;
        align-items: center;
    }

    .footer-address {
        font-size: 16px;
        text-align: center;
    }

    .footer-links-group {
        gap: 2rem;
    }

    .footer-links {
        align-items: flex-start;
        gap: 1rem;
    }

    .about-lots {
        display: none;
        flex-direction: row;;
    }

    .contact-item {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .footer-logo {
        width: 220px;
    }

    .footer-address {
        font-size: 15px;
    }

    .footer-links a {
        font-size: 16px;
    }

    .footer-links-group {
        gap: 1.5rem;
    }

    .contact-icon {
        font-size: 1rem;
    }
}