.red {
    color: #D81921;
}

.black {
    color: black;
}

.text {
    font-size: 25px !important;
    line-height: normal;
}

@media (max-width: 768px) {
    .text {
        font-size: 13px !important;
    }

    h2 {
        font-size: 26px !important;
    }
}

.mobile-container {
    display: flex;
    flex-direction: column;
}